<h1>料理店吉田</h1>
<h3>メニュー一覧</h3>

<%= link_to "トップへ", restaurants_top_path %>

<% if user_signed_in? %>
  <% if current_user == @user || current_user.admin? %>
    <%= link_to "新規投稿へ", new_restaurant_path %>
  <% end %>
<% end %>
<i class="fa-solid fa-heart"></i>

<div class="restaurants-container">
  <% if user_signed_in? %>
   <%= link_to "マイページへ", user_path(current_user.id) %>
  <% end %>

    
  <%= form_tag({controller:"restaurants",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
  <% end %>

  <%= page_entries_info @restaurants %>
<%= paginate @restaurants %>

  <% @restaurants.each do |t| %>
    <div class="resutaurant">
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= link_to t.user.name, user_path(t.user.id) %>
      <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
      <%= t.user.email %>
      <%= t.name %>
      <%= t.price %>
      <%= t.category %>
      <p><% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= link_to restaurant_like_path(id: t.id, restaurant_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% else %>
          <%= link_to restaurant_likes_path(id: t.id, restaurant_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %></p>
      <% end %>

      <%= link_to "詳細へ", restaurant_path(t.id) %>

      <%= link_to "編集する", edit_restaurant_path(t.id) %> 
      <%= button_to "削除する", restaurant_path(t.id), method: :delete %>
    </div>
    
  <% end %>
  <%= link_to "メニュー一覧に戻る", restaurants_path %>
  
  <% if current_user == @user || current_user.admin? %>
     <%= form_tag({controller:"restaurants",action:"index"}, method: :get) do %>
     <%= text_field_tag :tag %>
     <%= submit_tag 'タグを追加' %>
    <% end %>
  <% end %> 
</div>
